@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: "Times New Roman", serif;
    font-size: 20pt;
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 100rem;
    margin: 0 auto;

}
main {
    background-color: white;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */


header {
    width: 100%;
    height: 100px;
    position:relative;
    overflow: hidden; 
}

header img{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.5;  
}

header h1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: rgb(202, 0, 0);
    opacity: 1;
    position:relative;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.allergi{
    font-weight:bold
}

#Burgerinfo{
    background-color:black;
    color: white;
    border: 3px dashed white;
    margin: 0px
}

#Burgerinfo div{
    margin: 10x;
    padding: 10px;
}

#Orderinfo{
    background-color:white;
    border: 3px dashed black;
    margin: 10px
}

button:hover{
    background-color: blue;
    cursor:pointer;
}

button{
    margin-top: 20px;
    padding: 10px;
}

section{
    margin: 40px 40px;
    padding: 10px
}

.wrapper{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 33% 33% 33%;    
}

.box{
    border-radius:5px;
    padding: 10px;
    font-size: 150%;
}

